{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Data Management</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Raw Data Merged Files</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Raw Data Merged Files
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>File Name</th>
                      <th>File Path</th>
                      <th>Created By</th>
                      <th>Created At</th>
                      <th>Modified At</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>File Path</th>
                        <th>Created By</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                  {% for record in records %}
                  <tr>
                      <td>{{ record.id }}</td>
                      <td>{{ record.file_name }}</td>
                      <td>{{ record.file_path }}</td>
                      <td>{{ record.uploaded_by }}</td>
                      <td>{{ record.created_at }}</td>
                      <td>{{ record.modified_at }}</td>
                      <td>
                          <!-- View Button -->
                          <!-- View Button with link to the viewRawData view -->
                            <a href="{% url 'view-raw-data' record.id %}" class="btn btn-primary btn-sm">
                                <i class="bi bi-eye"></i> View
                            </a>
      
                          <!-- Process Button -->
                          <button type="button" class="btn btn-success btn-sm">
                              <i class="bi bi-gear"></i> Process
                          </button>
      
                          <!-- Delete Button -->
                          <button type="button" class="btn btn-danger btn-sm">
                              <i class="bi bi-trash"></i> Delete
                          </button>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}