{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Data Management</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Raw Data - Upload</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Raw Data
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                      <h1>Upload Raw Files</h1>
                        {% if messages %}
                            <div 
                                class="messages px-4 flash-screen 
                                {% if messages.0.tags == 'SUCCESS' %}bg-success 
                                {% elif messages.0.tags == 'ERROR' %}bg-danger 
                                {% else %}bg-secondary 
                                {% endif %}">
                                {% for message in messages %}
                                <span 
                                    class="alert {{ message.tags|default:'alert-danger' }} alert-dismissible fade show px-5" 
                                    role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close crossbtn" data-bs-dismiss="alert" aria-label="Close"></button>
                                </span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form id="upload-form" action="{% url 'data-management-upload' %}"  enctype="multipart/form-data" class="d-flex align-items-center gap-3">
                            {% csrf_token %}
                            <select id="financial-filename" class="form-select w-25" name="financialfilename">
                                <option value="">Select Financial Filename</option>
                                {% for key, value in financefilenames.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <input id="file-input" type="file" name="file" multiple>
                            <button class="btn btn-primary" type="button" id="upload-button">Upload</button>
                        </form>
                </div>
                <div class="col-md-5">
                    {% comment %} <div id="file-list" class="mt-2">
                        <!-- Uploaded files will be displayed here -->
                    </div> {% endcomment %}
                    <ul id="file-list" class="list-group list-group-flush">
                    </ul>
                </div>
                <div class="col-md-12 mt-4 text-end" id="mergeFiles">
                    <form method="post" action="{% url 'data-management-merge-files' %}">
                        {% csrf_token %}
                        <input type="text" name="mergefilename" id="mergefilename"/>
                        <button type="button" class="btn btn-warning" id="merge-btn">Merge Your Files in One Click!</button>
                    </form>
                    <div id="progress-container" class="mt-3" style="display:none;">
                        <div class="progress">
                            <div id="progress-bar" class="progress-bar bg-success" role="progressbar" 
                                style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                0%
                            </div>
                        </div>
                    </div>
                </div>                
              </div>
        </div>
    </div>
</div>
{% endblock body %}