{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django App</title>
    {% include '../includes/url_to_css.html' %}
    {% block style %}{% endblock %}
    <script type="text/javascript">
      var deleteFileUrl = "{% url 'delete-file' %}";
      var redirectUrl = "{% url 'data-management-upload' %}";
      var deleteMergeUrl = "{% url 'delete-merge-file' %}";
      var startPredictionPath = "{% url 'data-management-start-prediction' %}";
    </script>
  </head>
  <body>
<!--  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand">Navbar</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Features</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown link-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </nav>-->

  <div class="wrapper">
        <!-- Sidebar  start-->
        {% include '../includes/sidebar.html' %}
        <!-- Sidebar  end-->

        <!-- Page Content  -->
        <div id="content">
        <!-- Main Menu  start-->
        {% include '../includes/main-menu.html' %}
        <!-- Main Menu  end-->