{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Data Column Setting</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Data Column</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Data Column
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>File Name</th>
                      <th>Data Column Name</th>
                      <th>Data Column Slug</th>
                      <th>Created At</th>
                      <th>Modified At</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>Data Column Name</th>
                        <th>Data Column Slug</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for setting in settings %}
                    <tr>
                      <td>{{ setting.id }}</td>
                      <td>{{ setting.file_name }}</td>
                      <td>{{ setting.column_name }}</td>
                      <td>{{ setting.column_slug }}</td>
                      <td>{{ setting.created_date }}</td>
                      <td>{{ setting.modified_date }}</td>
                      <td>
                        <a href="{% url 'data-column-setting-edit' setting.id %}" class="btn btn-primary btn-sm">Edit</a>
                        {% comment %} <form method="POST" action="{% url 'data-column-setting-delete' id=setting.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form> {% endcomment %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
