{% load static %}
<script>
const
    DEFAULT_GST_PERCENTAGE    = parseInt(0),
    DEFAULT_AMOUNT            = parseInt(0),
    EMPTY_VALUE               = '',
    USER_ROW_ID               = 0,
    CURRENT_USER_TYPE         = 0,
    ISUSERLOGGEDIN            = 0,
    CUSTOM_SPINNER_ID         = "",
    TIME_ZONE    		        = "",
    TOOLTIP_CLASS             = "";

var
    CUR_DATE              = '',
    CUR_DATE_TIME            = '',
    CURRENT_CHAT_USER_ID     = 0;
</script>
<!-- jQuery CDN -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/fa/js/all.min.js' %}"></script>
<script src="{% static 'assets/js/toastr.min.js' %}"></script>
<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/common.js' %}"></script>
<script src="{% static 'assets/js/jquery_value_validation.js' %}"></script>
<script src="{% static 'assets/js/dataTables.min.js' %}"></script>
<script src="{% static 'assets/charts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>



<!-- <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script> -->
<!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script> -->
<script src="{% static 'assets/js/js/scripts.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/js/datatables-simple-demo.js' %}"></script>
<script src="{% static 'assets/js/js/clock.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
<script src="{% static 'assets/js/js/common.js' %}"></script>
<!-- <script src="{% static 'js/fonteawesome/all.min.js' %}" crossorigin="anonymous"></script> -->