{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Pickel Model Setting</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Pickel Model - Add</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Pickel Model - Add
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'pickel-model-setting-add' %}"  enctype="multipart/form-data" class="d-flex align-items-center gap-3">
                {% csrf_token %}
                <input id="file_name" type="file" name="file_name" multiple>
                <button type="submit" class="btn btn-success">Upload Pickel Model</button>
                {% comment %} <a href="{% url 'pickel-model-list' %}" class="btn btn-secondary">Cancel</a> {% endcomment %}
            </form>
            </form>
        </div>
    </div>
</div>
{% endblock body %}