{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Pickel Model Setting</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item">Settings</li>
        <li class="breadcrumb-item">Pickel Model Setting</li>
        <li class="breadcrumb-item active">Pickel Model - Upload</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Pickel Model - Add
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'pickel-model-setting-add' %}"  enctype="multipart/form-data" class="d-flex align-items-center gap-3">
                {% csrf_token %}
                <div class="col-md-4 mb-4">
                    <label for="pickel-file-name">Pickel File Name</label>
                    <input name="file_name" type="text" class="form-control"/>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="pickel-file-path">Pickel File Path</label>
                    <input id="file_path" type="file" name="file_path">
                </div>
                <div class="col-md-4 mb-4">
                    <button type="submit" class="btn btn-primary mt-4">Upload Pickel Model</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}