{% extends '../../layouts/master.html' %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Company Setting</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Company</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Company - Add
        </div>
        <div class="card-body">
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label for="tin_number">TIN</label>
                        <input type="text" class="form-control" id="tin_number" placeholder="Company Tin">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="company_name">Company Name</label>
                        <input type="text" class="form-control" id="company_name" placeholder="Company Name">
                    </div>
                    <div class="cold-md-12 form-check mb-4">
                        <button type="button" class="btn btn-warning" id="merge-btn">Submit Comapny</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}