{% extends '../../layouts/master.html' %}

{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4 custom-header">Data Management</h1>
    <ol class="breadcrumb mb-4 custom-breadcrumb">
        <li class="breadcrumb-item active">Predicted Data</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Predicted Data
        </div>
        <div class="card-body table-responsive">
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th>TIN</th>
                        <th>Tax Period Year</th>
                        <th>Net Income</th>
                        <th>Total Liabilities</th>
                        <th>Total Assets</th>
                        <th>Total Employees</th>
                        <th>Total Salary Wages Paid</th>
                        <th>Refund Approved Amount</th>
                        <th>Refund Frequency</th>
                        <th>Taxpayer Name</th>
                        <th>Taxpayer Type</th>
                        <th>Sector Activity</th>
                        <th>Filing Frequency</th>
                        <th>Late Filing Count</th>
                        <th>Total Sales GST</th>
                        <th>GST Payable</th>
                        <th>Sector Average Sales</th>
                        <th>GST Compliance Ratio</th>
                        <th>Employee Wage Ratio</th>
                        <th>Sales to Asset Ratio</th>
                        <th>Debt to Asset Ratio</th>
                        <th>Risk Score GST</th>
                        <th>Risk Score SWT</th>
                        <th>Risk Score Refund</th>
                        <th>Risk Score CIT</th>
                        <th>Total Risk Score</th>
                        <th>Fraud Probability</th>
                        <th>Fraud Detection</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prediction in page_obj %}
                    <tr>
                        <td>{{ prediction.tin }}</td>
                        <td>{{ prediction.tax_period_year }}</td>
                        <td>{{ prediction.net_income }}</td>
                        <td>{{ prediction.total_liabilities }}</td>
                        <td>{{ prediction.total_assets }}</td>
                        <td>{{ prediction.total_employees }}</td>
                        <td>{{ prediction.total_salary_wages_paid }}</td>
                        <td>{{ prediction.refund_approved_amount }}</td>
                        <td>{{ prediction.refund_frequency }}</td>
                        <td>{{ prediction.taxpayer_name }}</td>
                        <td>{{ prediction.taxpayer_type }}</td>
                        <td>{{ prediction.sector_activity }}</td>
                        <td>{{ prediction.filing_frequency }}</td>
                        <td>{{ prediction.late_filing_count }}</td>
                        <td>{{ prediction.total_sales_gst }}</td>
                        <td>{{ prediction.gst_payable }}</td>
                        <td>{{ prediction.sector_average_sales }}</td>
                        <td>{{ prediction.gst_compliance_ratio }}</td>
                        <td>{{ prediction.employee_wage_ratio }}</td>
                        <td>{{ prediction.sales_to_asset_ratio }}</td>
                        <td>{{ prediction.debt_to_asset_ratio }}</td>
                        <td>{{ prediction.risk_score_gst }}</td>
                        <td>{{ prediction.risk_score_swt }}</td>
                        <td>{{ prediction.risk_score_refund }}</td>
                        <td>{{ prediction.risk_score_cit }}</td>
                        <td>{{ prediction.total_risk_score }}</td>
                        <td>{{ prediction.fraud_probability }}</td>
                        <td>{% if prediction.fraud_prediction == 1 %} <span class="text-danger">Fraud</span> {% else %} <span class="text-success">Not Fraud</span> {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>            
        </div>
    </div>
</div>
<style>
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile devices */
    }

    .bg-danger {
        background-color: #dc3545 !important;
    }

    .text-white {
        color: #ffffff !important;
    }
</style>
{% endblock body %}
