{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Taxanamoly</title>
        <link href="{% static 'css/datatables.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/admin-template.css' %}" rel="stylesheet" />
        <link href="{% static 'css/common.css' %}" rel="stylesheet" />
        <script>
            var deleteFileUrl = "{% url 'delete-file' %}";
            var redirectUrl = "{% url 'data-management-upload' %}";
            var deleteMergeUrl = "{% url 'delete-merge-file' %}";
            var startPredictionPath = "{% url 'data-management-start-prediction' %}";
        </script>
    </head>